.lemma{
    font-weight: bolder;
}
.gender{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.suffix{
    font-style: italic;
}
.etym{
    text-decoration: underline;
}
.definition, .references{
    margin-left: 60px;
    letter-spacing: 3px;
}

.references{
    margin-bottom: 10px;
}

.sense{
    margin: 10px 15px;
}

.syn{
    text-decoration-line: underline;
    text-decoration-style:wavy;
}